<footer>
	<div class="container">
		<div>
      <div class="alert alert-warning">
        <strong>Importante:</strong> Se informa al usuario que al implementar este servicio en su propio sitio web, se requiere informar al Instituto Geográfico Nacional acerca de esta demanda para su evaluación. A fin de poder ofrecer la calidad de servicio requerida. Favor de enviar solicitud a <a href="mailto:argenmap@ign.gob.ar">argenmap@ign.gob.ar</a>
      </div>			
			<p><strong>argenmap</strong> es un servicio web del <a href="http://www.ign.gob.ar" target="_blank">Instituto Geográfico Nacional</a> de la República Argentina.</p>

			<p>El código de argenmap.jquery está disponible bajo una <a href="http://www.ign.gob.ar/argenmap/argenmap.jquery/LICENCIA" target="_blank">licencia</a> basada en la BSD.</p>
			<p>La documentación de argenmap.jquery usa  <a href="http://twitter.github.com/bootstrap/">Bootstrap, de Twitter</a> y <a href="http://jquery.com/">la librería jQuery</a> y la generamos con <a href="http://www.phrozn.info/">phrozn</a>. El hosting del proyecto corre por cuenta de <a href="http://github.com/">Github</a>.</p>  
		</div>

	</div>

    
</footer>
<script type="text/javascript">
$('input[type=text]').click(function(){
    // Select input field contents
    $(this).select();
});
</script>
