<div class="content">
    <section>
    <div class="page-header">
      <h3>Ejemplos simples</h3>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img alt="mapasimple" style="width: 300px;" src="media/img/ejemplos/mapasimple.jpg">
            <div class="caption">
              <h3>Un mapa básico</h3>
              <p>En este ejemplo se crea un mapa simple con la configuración predeterminada.</p>
              <p><a target="_blank" href="ejemplos/mapasimple.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="centro" style="width: 300px;" src="media/img/ejemplos/centro.jpg">
            <div class="caption">
              <h3>Modificando el centro del mapa</h3>
              <p>En este ejemplo se centra el mapa en coordenadas específicas.</p>
              <p><a target="_blank" href="ejemplos/centro.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="zoom" style="width: 300px;" src="media/img/ejemplos/zoom.jpg">
            <div class="caption">
              <h3>Cambiando el nivel de zoom</h3>
              <p>En este ejemplo se modifica la vista del mapa cambiando el nivel de zoom.</p>
              <p><a target="_blank" href="ejemplos/zoom.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="capaBase" style="width: 300px;" src="media/img/ejemplos/capaBase.jpg">
            <div class="caption">
              <h3>Vista satelital</h3>
              <p>En este ejemplo se alterna la capa base del mapa a la vista satelital. Se aprecian los topónimos
                reconocidos por el IGN sobre las imágenes de Google Maps.</p>
              <p><a target="_blank" href="ejemplos/capaBase.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>            
      </ul>
    </div>
  </section>
  <section>
    <div class="page-header">
      <h3>Ejemplos con marcadores</h3>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarmarcador" style="width: 300px;" src="media/img/ejemplos/agregarMarcador.jpg">
            <div class="caption">
              <h3>Un mapa con un marcador en el centro</h3>
              <p>En este ejemplo se crea un marcador en el centro del mapa.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcador.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarmarcadorConPopup" style="width: 300px;" src="media/img/ejemplos/agregarMarcadorConPopup.jpg">
            <div class="caption">
              <h3>Un marcador con popup</h3>
              <p>En este ejemplo se crea un marcador con un popup.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcadorConPopup.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="mapasimple" style="width: 300px;" src="media/img/ejemplos/agregarMarcadores.jpg">
            <div class="caption">
              <h3>Un mapa con varios marcadores a la vez</h3>
              <p>En este ejemplo se crean varios marcadores a partir de una array de objetos javascript.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcadores.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>            
      </ul>
    </div>
  </section>      
  <section>
    <div class="page-header">
      <h3>Visualización de datos online</h3>
    </div>        
    <div class="row-fluid">
      <ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarCapaWMS" style="width: 300px;" src="media/img/ejemplos/agregarCapaWMS.jpg">
            <div class="caption">
              <h3>Superponer una capa WMS sobre el mapa</h3>
              <p>En este ejemplo se visualiza una capa WMS.</p>
              <p><a target="_blank" href="ejemplos/agregarCapaWMS.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarCapaKML" style="width: 300px;" src="media/img/ejemplos/agregarCapaKML.jpg">
            <div class="caption">
              <h3>Visualizar un archivo KML publicado en la web</h3>
              <p>En este ejemplo se superpone una capa KML sobre el mapa.</p>
              <p><a target="_blank" href="ejemplos/agregarCapaKML.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
         <li class="span4">
          <div class="thumbnail">
            <img alt="reemplazarGoogle" style="width: 300px;" src="media/img/ejemplos/reemplazarGoogleMaps.jpg">
            <div class="caption">
              <h3>Reemplazar un mapa estándar de Google Maps por argenmap</h3>
              <p>En este ejemplo se muestra una app que muestra datos de elevación originalmente creada con un mapa de Google. El ejemplo reemplaza fácilmente el mapa estándar de Google 
                por argenmap.</p>
              <p><a target="_blank" href="ejemplos/reemplazarGoogleMaps.html" class="btn btn-primary">Ver ejemplo</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>        
  </section>
</div>