<div class="content">
    <section>
    <div class="page-header">
      <h1 id="1">Ejemplos simples <small>de argenmap</small></h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img alt="mapasimple"  src="media/img/ejemplos/mapasimple.jpg">
            <div class="caption">
              <h2>Un mapa básico</h2>
              <p>En este ejemplo se crea un mapa simple con la configuración predeterminada.</p>
              <p><a target="_blank" href="ejemplos/mapasimple.html" class="btn btn-primary">Ver ejemplo de mapa simple</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="centro"  src="media/img/ejemplos/centro.jpg">
            <div class="caption">
              <h2>Modificando el centro del mapa</h2>
              <p>En este ejemplo se centra el mapa en coordenadas específicas.</p>
              <p><a target="_blank" href="ejemplos/centro.html" class="btn btn-primary">Ver ejemplo de centro</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="zoom"  src="media/img/ejemplos/zoom.jpg">
            <div class="caption">
              <h2>Cambiando el nivel de zoom</h2>
              <p>En este ejemplo se modifica la vista del mapa cambiando el nivel de zoom.</p>
              <p><a target="_blank" href="ejemplos/zoom.html" class="btn btn-primary">Ver ejemplo de zoom</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img alt="capaBase"  src="media/img/ejemplos/capaBase.jpg">
            <div class="caption">
              <h2>Vista satelital</h2>
              <p>En este ejemplo se alterna la capa base del mapa a la vista satelital. Se aprecian los topónimos
                reconocidos por el IGN sobre las imágenes de Google Maps.</p>
              <p><a target="_blank" href="ejemplos/capaBase.html" class="btn btn-primary">Ver ejemplo de capaBase</a></p>
            </div>
          </div>
        </li>            
      </ul>
    </div>
  </section>
  <section>
    <div class="page-header">
      <h2>Ejemplos con marcadores</h2>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarmarcador"  src="media/img/ejemplos/agregarMarcador.jpg">
            <div class="caption">
              <h2>Un mapa con un marcador en el centro</h2>
              <p>En este ejemplo se crea un marcador en el centro del mapa.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcador.html" class="btn btn-primary">Ver ejemplo de marcador simple</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarmarcadorConPopup"  src="media/img/ejemplos/agregarMarcadorConPopup.jpg">
            <div class="caption">
              <h2>Un marcador con popup</h2>
              <p>En este ejemplo se crea un marcador con un popup.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcadorConPopup.html" class="btn btn-primary">Ver ejemplo de marcador con popup</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="mapasimple"  src="media/img/ejemplos/agregarMarcadores.jpg">
            <div class="caption">
              <h2>Un mapa con varios marcadores a la vez</h2>
              <p>En este ejemplo se crean varios marcadores a partir de una array de objetos javascript.</p>
              <p><a target="_blank" href="ejemplos/agregarMarcadores.html" class="btn btn-primary">Ver ejemplo de varios marcadores</a></p>
            </div>
          </div>
        </li>            
      </ul>
    </div>
  </section>      
  <section>
    <div class="page-header">
      <h2>Visualización de datos online</h2>
    </div>        
    <div class="row-fluid">
      <ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarCapaWMS"  src="media/img/ejemplos/agregarCapaWMS.jpg">
            <div class="caption">
              <h2>Superponer una capa WMS sobre el mapa</h2>
              <p>En este ejemplo se visualiza una capa WMS.</p>
              <p><a target="_blank" href="ejemplos/agregarCapaWMS.html" class="btn btn-primary">Ver ejemplo de agregarCapaWMS</a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="agregarCapaKML"  src="media/img/ejemplos/agregarCapaKML.jpg">
            <div class="caption">
              <h2>Visualizar un archivo KML publicado en la web</h2>
              <p>En este ejemplo se superpone una capa KML sobre el mapa.</p>
              <p><a target="_blank" href="ejemplos/agregarCapaKML.html" class="btn btn-primary">Ver ejemplo de agregarCapaKML</a></p>
            </div>
          </div>
        </li>
         <li class="span4">
          <div class="thumbnail">
            <img alt="reemplazarGoogle"  src="media/img/ejemplos/reemplazarGoogleMaps.jpg">
            <div class="caption">
              <h2>Reemplazar un mapa estándar de Google Maps por argenmap</h2>
              <p>En este ejemplo se muestra una app que muestra datos de elevación originalmente creada con un mapa de Google. El ejemplo reemplaza fácilmente el mapa estándar de Google 
                por argenmap.</p>
              <p><a target="_blank" href="ejemplos/reemplazarGoogleMaps.html" class="btn btn-primary">Ver ejemplo de reemplazo de Google Maps</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>        
  </section>
</div>