<div class="content">
        <h2>Guía para usuarios <small>ejemplos, conceptos básicos, etc</small></h2>
        <hr/>
    <div class="row-fluid">
        <div class="span3">
            <h4>Cómo empezar</h4>
            <ul>
                <li><a href="mapabasico.html">Paso a paso</a> cómo usar un mapa en tu sitio</a></li>
                <li><a href="ejemplos.html">Ejemplos</a></li>
                <li><a href="caracteristicas.html">Características</a></li>
            </ul>
        </div><!--span4-->
        <div class="span4">
            <h4>Acerca del mapa</h4>
            <ul>
                <li>Leé acerca del <a href="datosdelmapa.html">origen de los datos argenmap.jquery</a></li>
            </ul>            
        </div><!--span4-->                

    </div><!--row-->
    <hr>
    <div class="row-fluid">
        <div class="span3">
            <h4>API</h4>
            <ul>
                <li><a href="api.html">Documentación completa de la API</a></li>
            </ul>
        </div>
        <div class="span4">
            <h4>Integración con google maps</h4>
            <ul>
                <li><a href="migrardegooglemapsaargenmap.html">Tutorial para migrar un mapa basado en Google Maps a argenmap</a>.</li>
                <li><a href="ejemplos/reemplazarGoogleMaps.html">Ejemplo de mapa de Google reemplazado por argenmap.jquery</a>.</li>
            </ul>            
        </div><!--span4-->
    </div><!--row-->
</div>
