<div class="content">
    <h1>Tutorial! <small>Migración de un mapa de Google Maps a uno de argenmap</small></h1>
    <section id="migrar">
        <div class="row-fluid">
            <div class="span12">
    <h2>Migrar desde Google Maps a Argenmap.jquery</h2>
                <p>Este es un ejemplo basico de uso de Google Maps: </p>
                <pre id="fuente"  class="prettyprint linenums">
    &lt;script type="text/javascript" &gt;
    var map;
    function initialize() {
    var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(-37.9800587, -57.58995909999999),
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('mapahtml'),
    mapOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    &lt;/script&gt;
                </pre>
                <p>Los valores que tenemos que tomar para poder migrarlos a argenmap.jquery son los siguientes:</p>
                    <pre id="fuente-detalle"  class="prettyprint">
    &lt;script type="text/javascript" &gt;
    var map;
    function initialize() {
    var mapOptions = {
    zoom: <strong><abbr title="Este atributo corresponde al zoom en argenmap.jquery">8</abbr></strong>,
    center: new google.maps.LatLng(<strong><abbr title="Este atributo corresponde al centro en argenmap.jquery">-34.5722189, -58.44053759999997</abbr></strong>),
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('<strong><abbr title="Este atributo corresponde al html id en argenmap.jquery">mapahtml</abbr></strong>'),
    mapOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    &lt;/script&gt;
                    </pre>
                    <p>
                        Los atributos se encuentran subrayados con linea de puntos, para una mayor comprensi&oacute;n se listan aqui:
                        <ul>
                            <li>zoom = 8</li>
                            <li>centro = -37.9800587, -57.58995909999999</li>
                            <li>elementId = mapahtml</li>
                        </ul>
                    </p>
            </div>
            <!-- span12-->
        </div>
         
        <!-- row-->
        <div class="row-fluid">
            <h3>Convirtiendo el ejemplo de Google Maps a Argenmap.jquery usando el servicio WMS del Instituto Geográfico Nacional</h3>
            <p>Siguiendo con el ejemplo anterior ahora veremos como instanciar el mapa de argenmap.jquery con los parametros que tomamos</p>
                <div class="ejemplo">
                    <div id="mapahtml" style="height:315px;border:1px dashed #222"></div>
                </div>
                <pre id="fuente"  class="prettyprint linenums">
    $(function () {
    $('#mapahtml').argenmap().centro(-37.9800587, -57.58995909999999).zoom(8);
    });
                </pre>
                <script type="text/javascript">
                $(function () {
                    $('#mapahtml').argenmap().centro(-37.9800587, -57.58995909999999).zoom(8);
                }); 
                </script>
                
                Acerca el servicio WMS del
                <a href="http://www.ign.gob.ar" target="_blank">Instituto Geográfico
                    Nacional</a>
                a los diseñadores de páginas de instituciones públicas y permite ampliar
                la presencia de los mapas nacionales en la web.</p>
        </div>
       
        <!-- row-fluid -->
        <div class="row-fluid">
            <!-- span-->
            <p class="lead">Si querés saber más acerca de argenmap.jquery, consultá
                la
                <a href="#api">API de argenmap.jquery</a>
            </p>
            <p>Podés leer más acerca de
                <a href="#datosvectoriales">los datos que muestra Argenmap.jquery</a>.
                </p>
            <p>Si no sos programador ni diseñador web, podés ver los
                <a href="estructuradelmapa.html">detalles de la estructura del mapa</a>.</p>
            <p>Y si argenmap.jquery no te sirve, siempre podés contar con el WMS del
                IGN en
                <a href="http://wms.ign.gob.ar/geoserver/wms" target="_blank">http://wms.ign.gob.ar/geoserver/wms</a>.</p>
        </div>
         
        <!-- row-->
    </section>
</div>