<div class="content">
    <h1 id="1">Ayuda y soporte</h1>
    <hr/>
    <div class="row">
        <div class="span12">
            <iframe title="iframe de google groups incrustable" id="forum_embed"
              src="javascript:void(0)"
              scrolling="no"
              frameborder="0"
            >
            </iframe>
            <script type="text/javascript">
              document.getElementById('forum_embed').src =
                 'https://groups.google.com/forum/embed/?place=forum/argenmap-jquery'
                 + '&showsearch=true&showpopout=true&showtabs=false'
                 + '&parenturl=' + encodeURIComponent(window.location.href);
            </script>
        </div>
    </div>
</div>
