<h1 id="1">Datos vectoriales del mapa <small>de argenmap</small></h1>
<p class="lead">Los datos de este mapa son los oficializados por
  el <a href="http://www.ign.gob.ar" target="_blank">Instituto Geográfico
    Nacional</a>, a excepción de los datos mostrados a escalas menores a 1:250.000 (zooms de valor alto). 
</p>
<p class="lead">
  En escalas chicas, <strong>argenmap</strong> superpone algunos datos de
  <a target="_blank" href="http://es.wikipedia.org/wiki/OpenStreetMap">OpenStreetMap</a>
  para darle continuidad a la experiencia del usuario sobre el mapa web
  ya que el IGN no publica datos oficiales digitales relevados a escalas menores a
  1:250.000. Las fuentes de datos son las siguientes:</p>
<hr/>
<div class="row-fluid ">
  <div class="span4">
    <h2>IGN</h2>
    <p class="lead">Datos topográficos.</p>
    <p>Los datos vectoriales que argenmap muestra son los que el Instituto Geográfico Nacional
    de la República Argentina publica en su servicio WMS.</p>
  </div>
  <div class="span4">
    <h2>OpenstreetMap</h2>
    <p class="lead">Caminos y espacios verdes.</p>
    <p>Los vectores de caminos y los espacios verdes que argenmap muestra
    a escalas menores a 250.000
      <strong>no son responsabilidad del IGN</strong>
      y los desplegamos sobre el mapa a manera representativa para dar una
      referencia local en los espacios en los que la escala de captura de los
      datos del IGN no tienen inferencia.</p>

  </div>
  <div class="span4">
    <h2>Google</h2>
    <p class="lead">Imágenes satelitales</p>
    <p>argenmap muestra la capa satelital de Google Maps sin los topónimos
      de Google. Al cambiar a esta capa base, argenmap superpone los vectores y topónimos
      del IGN. Al hacer zoom a escalas chicas, los caminos y espacios verdes
      que se muestran superpuestos sobre el mosaico satelital corresponden a los del proyecto OpenstreetMap</p>
  </div>

  <!--/span-->
</div><!--row-fluid-->
<hr/>
<h2>Origen de los datos </h2>
<h3>Datos del IGN</h3>
<p>
El Instituto Geográfico Nacional publica sus datos SIG a través del servicio estándar WMS.
<p>El endpoint WMS (1.1.1 y 1.3.0)  se encuentra en la URL:
<p>
<a href="http://wms.ign.gob.ar/geoserver/wms?" target="_blank">http://wms.ign.gob.ar/geoserver/wms?</a>
</p>
<h3>Datos de OpenStreetMap</h3>
<p>
  <p>Openstreetmap es una base de datos mundial que ofrece datos
  vectoriales de caminos de todo el mundo.</p>
  <ul>
    <li>La base de datos es de libre acceso y libre modificación para cada
    usuario que desee participar aportando sus datos obtenidos con GPS o digitalizados sobre imágenes satelitales de alta resolución.</li>
    <li>Actualmente cuenta con cerca de 60.000.000 de rutas, autopistas y calles del mundo. De éstas,
    más de 221.000, son acerca del territorio argentino (por supuesto, que dado el origen, la información es de variada precisión).
  </li>
  </ul>
  <p>Mayor información acerca de estos datos del territorio argentino así como los datos en formato
  <em>shapefile</em> se pueden obtener en:
  </p>
  <p>
    <a href="http://wiki.openstreetmap.org/wiki/WikiProject_Argentina#Descargando_y_usar_el_mapa_en_GPS" target="_blank">http://wiki.openstreetmap.org/wiki/WikiProject_Argentina</a>
  </p>
<h3>Imágenes de satélite de Google Maps</h3>
<p>
Las imágenes satelitales de Google están disponibles online y se acceden a través de la API de Google Maps.
</p>
<p>Mayor información acerca de esta API en:
</p>
<p>
<a href="https://developers.google.com/maps/?hl=es" target="_blank">API de Google Maps</a>
</p>

<p>De acuerdo a la información en <em><a href="http://support.google.com/maps/bin/answer.py?hl=es&hlrm=en&answer=22040" target="_blank">Antigüedad de las imágenes de satélite</a></em>,
las imágenes de Google Maps API son las mismas que las de Google Earth. Más información acerca de estas imágenes, se puede obtener visitando
<a href="http://support.google.com/earth/bin/answer.py?hl=es&hlrm=en&answer=176147" target="_blank">Aspectos básicos de las imágenes de Google Earth</a></em>.